<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Errol Green</h1>
 <p>As seen above, my name is Errol Green. 
     I am a student in his third year at the University of the West Indies. 
     My hobbies include photography, playing games and digital sculpting which I am still currently learning how to do proficiently. 
     I strive to either work as a computer scientist at Google or sculpt as an artist. 
     I have a little experience with front end development coming from INFO2180 and it is something that I am still interested in. 
     The possiblities when paired with my sculpting or photography are endless and I would like to explore those possiblities. 
     This is what lead me to continue this course.</p>
</body>
</html>